/* body {    
    background-color: #63a4ff;
    background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
}

.cardMain {
    background-color: black;
    color: black;
    border-color: white;
    border-width: 1px;
    border-radius: 5px;
    border-style: solid;
    width:100%;    
    margin:0px;
    padding:1px;
    font-family: Roboto;    
}

.cardHeader {
    background-color: black;
    color: white;
    height:10%;
}

.cardBody {
    background-color: black;
    color: white;    
    height:85%;
}

.cardFooter {
    height:1%;
    background-color: black;
    color: white;
    font-size: 0.75rem;
}

.iconStyle {
    background-color: white;
    color: black;
}

.headerRow {
    font-family: Roboto;
    font-weight: bold;
}

.bodyRow {
    font-family: Roboto;
    font-weight: bold;
} */
.container-1{
    margin: 5%;
    
}
.container-2{
    width: 100%;
    background-image: linear-gradient(#2f2b4e,
    #36485e);
    margin-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 25px;
}

.cardBody {
   
    margin-top: 5%;
    padding-right: 30%;
    padding-left: 30%;
    padding-top: 5%;
    color: white;
    width: 80%;
    
     
 }

 .eventsApp{
     
     padding: 10px;
     font-size:xx-large;
     
     width: 70%;
 }
 /* .nav-link{
     color: rgb(21, 21, 233);
     
 } */
 .submit{
     margin-top: 10px;
     margin-bottom: 10px;

 }
 .container1{
     
     background-color: #4b4949;
     margin-right: 10%;
     margin-left: 10%;
     padding-bottom: 10%;
     border-width: 1%;

 }
 .iconStyle{
     background-color: rgb(169, 235, 177);
     border: none;
     color: red;
     float: right;   
 }
 .headerRow{
     background-color: white;
 }
 .navbar-bg{
     width:100%;
     margin-top: 12%;
     background-color: green;
 }
 .underline{
     padding: 1px;
     background-color: rgb(77, 77, 76);
     
 }
 
 .view{
     background-color: rgb(224, 255, 245);
 }
 
 